// VARIABLES

@hover-opacity: 0.7;
@white: #fff;
@black: #000;

@cyan: #5dc8f2;
@green: #87c869;
@orange: #faa449;
@blue: #3e71b5;
@purple: #a86bab;
@grey: #939598;
@red: #db2032;
@pale: #f0f1f3;

@twitter-color: #28aae1;
@linkedin-color: #007bb6;


@main-color: #d94226;

@quarterspace: 10px;
@halfspace: 20px;
@space: 40px;
@doublespace: 80px;

@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;


// MIXINS

.image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  img { width: 100%; height: auto }
}
.black-glow {
  -webkit-box-shadow: 0px 3px 10px 2px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 3px 10px 2px rgba(0,0,0,0.4);
  box-shadow: 0px 3px 10px 2px rgba(0,0,0,0.4);
}
.transition-all {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
.mark {
  outline: 1px dotted red;
}
