@import "style.variables.less";

// ========================================================================================= HORIZONTAL BUTTONS TEMPLATE

.horizontal-buttons .h-button-wrapper {
  .h-button-title {
    .title {
      font-size: 40px;
      margin: 55px 25px 0;
    }
  }
}

// ======================================================================================================= SERIES SINGLE

.class-content {
  .tab-content {
    margin-left: 0;
    margin-right: 0;
  }
}

// ================================================================================================================ BLOG

.contentlisting {
  .post-excerpt {
    h3:first-child {
      margin-top: 0;
    }
  }
}
