html, body {
  margin:0;
  padding:0;
  height:100%;
}
.page-container {
  position:relative;
  min-height:100%;
  max-width: 1180px;
  margin: auto;
  background: @white;
}
.page-body {
  padding-bottom: 350px;
}
.strata-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 350px;
  background: pink;
}