

.strata.desktop-navbar {
  background: @main-color;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: @main-color;
    z-index: 999999;
  }

  ul.menu {
    float: left;
    > li > a[href]:hover {
      opacity: @hover-opacity;
    }
    > li > a:hover {
      cursor: pointer;
      cursor: hand;
    }
  }

  ul li {
    display: block;
    position: relative;
    float: left;
    //background: @main-color;
  }





  // =======================================================

  li ul { display: none; }

  ul li a, .header-search-form a {
    display: block;
    // padding: 1em;
    // text-decoration: none;
    white-space: nowrap;
    color: #fff;
    font-weight: 600;
    letter-spacing: .05em;
    font-size: 11px;
    //padding: 24px 10px 22px;
    padding: 24px 5px 22px;
  }

  ul li a:hover {
    opacity: 1;
  }

  @media (min-width: @screen-lg) {
    ul li a { padding: 24px 10px 22px; }
  }

  // =======================================================

  ul ul {
    a { padding-top: 5px; padding-bottom: 5px;}
    ul {
      text-transform: none;
    }
  }
  li:hover > ul {
    display: block;
    position: absolute;
  }

  li:hover li { float: none; }

  // =======================================================

  ul ul ul {
    left: 100%;
    top: 0;
  }


  // =======================================================

  ul:before,
  ul:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  ul:after { clear: both; }


}
