@import "style.variables.less";


// ============================================================================================================== HEADER

.strata.branding {

  .home-button-wrapper {
    .home-button {
      height: 76px;
      width: 502px;
    }
  }

  p.tagline {
    font-size: 27px;
  }
  p.tagline.tagline-1 {
    margin-top: 27px;
  }
}

// =========================================================================================================== HOME PAGE

.home-page-teaser {
  .teaser-content {
    font-size: 22px;
    //min-height: 280px;
  }
}

// =========================================================================================================== MAX-WIDTH

.class-content {
  .nav-tabs li a {
    width: 75px;
  }
}
// =========================================================================================================== MAX-WIDTH

.page-container {
  .page-inner {
    max-width: 1200px;
  }
}

// ========================================================================================= HORIZONTAL BUTTONS TEMPLATE

.horizontal-buttons .h-button-wrapper {
  .h-button-title {
    .title {
      font-size: 48px;
      margin: 75px 25px 0;
    }
  }
  .h-button-image {
    //min-height: 220px;
  }
}