// CUSTOM LESS FOR THIS PROJECT

@import "style.variables.less";

// GENERALLY SPEAKING


body {
  .body-font;
}

h1, h2, h3, h4, h5, h6 {
  .headline-font;
}
h1, h2, h3 {
  color: @main-color;
}


// ================================================================================================== GENERALLY SPEAKING...

img {
  max-width: 100% !important;
  height: auto !important;
}

body {
  color: @grey;
  font-size: 16px;
}

a {
  color: @main-color;
}

a:hover, a:focus, a:active {
  color: inherit;
  opacity: @hover-opacity;
  text-decoration: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
textarea {
  width: 100%;
  border-style: solid;
  border-color: @storm;
  border-width: 1px;
  padding: 10px 15px;
}
textarea { height: 98px; }
select {
  background: @white;
  width: 100%;
  padding: 13px 15px 14px;
  border-style: solid;
  border-color: @storm;
  border-width: 1px;
  line-height: 1;
  border-radius: 0;
  -webkit-appearance: none;
}

li {
  margin-bottom: 8px;
}

.paginate {
  margin: @space 0;
}

// ============================================================================================================== HEADER

.home-button-wrapper {
  margin-top: @space;
  .home-button {
    background-image: url(../img/logo.png);
    height: 225px;
    width: 300px;
    background-size: contain;
    display: block;
    text-indent: -9999px;
  }
}

.desktop-navbar {
  margin-right: -9px;
  .headline-font;
  float: right;
  .clearfix;
  padding: @space 0 @quarterspace;
  a {
  }
  ul li a {
    padding: 10px 9px;
    color: @grey;
    font-size: 14px;
  }
  // SUBMENUS
  ul ul {
    background: @white;
    .black-glow;
    margin: 0 -10px;
    padding: 0 10px;
    a:hover,
    li.current-menu-item a {
      color: @main-color;
    }
  }
}
.desktop-navbar ul.menu > li.current-menu-item,
.desktop-navbar ul.menu > li.current-menu-ancestor
{
  > a {
    color: @main-color;
  }
  > a:after {
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4px 6px 4px;
    border-color: transparent transparent @main-color transparent;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -4px;
  }
}

// ======================================================================================================= MOBILE NAVBAR

.strata.mobile-spacer {
  height: 60px;
}
.strata.mobile-navbar {
  .black-glow;
  padding-top: 10px;
  .home-button-wrapper {
    margin-top: 0;
    float: right;
    .home-button {
      height: 40px;
      width: 109px;
    }
  }
}

// ======================================================================================================= PAGE ELEMENTS

.content {
  padding-top: @space;
  padding-bottom: @space;
}

// SECTION TITLES
.strata.section-title {
  background: @main-color;
  padding: @halfspace 15px;
  text-align: center;
  h1, h2, h3 {
    color: @white;
    margin: 0;
    font-size: 36px;
  }
}

// PHOTO GALLERY

.gallery {
  .gallery-item {
    margin: @space 0;
    a {
      transition: transform .4s;
      display: block;
      .black-glow;
      .image { border: 10px solid @white; }
      p {

        margin-bottom: 0;
        background: @fog;
        color: @grey;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        height: 50px;
        line-height: 1.1em;
        letter-spacing: -.05em;
        overflow: hidden;
        font-size: 14px;
        transition: background .4s, color .4s;
      }
    }
  }
}

.featured-image {
  .featured-image-overlay {
    text-align: center;
  }
}

// ==================================================================================================== GALLERY TEMPLATE

body.page-template-template-gallery {
  .strata.gallery {
    background: @black;
    .gallery-item {
      a {
        //.no-glow;
        transition: transform: .4s;
      }
      position: relative;
      z-index: 0;
      margin: 0 -15px;
      .image {
        transition: border .4s;
        border: 2px solid black;
      }
    }
    .gallery-item:hover {
      z-index: 1;
      a { .black-glow }
      .image {
        border: 2px solid @main-color;
      }
    }
  }
}
// ================================================================================================================ BLOG

.contentlisting {
  margin: @space 0;
  p.date, p.readmore {
    font-weight: 600;
    font-style: italic;
  }
  img.wp-post-image {
    margin: 0 auto @halfspace auto;
    display: block;
  }
}
.single-post.content {
  p.date {
    font-weight: 600;
    font-style: italic;
  }
  .meta .share-links {
    margin-bottom:@space;
    br {
      display: none;
    }
  }
  .wp-post-image {
    margin-bottom: @halfspace;
  }
}

// ============================================================================================================== FOOTER

.strata.strata-footer {
  text-align: center;
  margin-top: @space;
}

