.image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.image img {
  width: 100%;
  height: auto;
}
.image.contain {
  background-size: contain;
}
.black-glow {
  -webkit-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.4);
}
.no-glow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.inner-black-glow {
  -moz-box-shadow: inset 0 0 80px #000000;
  -webkit-box-shadow: inset 0 0 80px #000000;
  box-shadow: inset 0 0 80px #000000;
}
.transition-all {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  /* Firefox 10+, Firefox on Android */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
.mark {
  outline: 1px dotted red;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.text-shadow {
  text-shadow: 0px 0px 18px #000000;
}
.body-font {
  font-family: 'Lato', sans-serif;
}
.headline-font {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.mobile-navbar {
  position: fixed;
  background: #fff;
  width: 100%;
  float: left;
  z-index: 999;
}
.mobile-spacer {
  height: 40px;
}
.desktop-navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 999999;
}
.desktop-navbar ul.menu {
  float: left;
}
.desktop-navbar ul.menu > li > a[href]:hover {
  opacity: 0.7;
}
.desktop-navbar ul.menu > li > a:hover {
  cursor: pointer;
  cursor: hand;
}
.desktop-navbar ul li {
  display: block;
  position: relative;
  float: left;
}
.desktop-navbar li ul {
  display: none;
}
.desktop-navbar ul li a,
.desktop-navbar .header-search-form a {
  display: block;
  white-space: nowrap;
  font-size: 11px;
  padding: 24px 5px 22px;
}
.desktop-navbar ul li a:hover {
  opacity: 1;
}
@media (min-width: 1200px) {
  .desktop-navbar ul li a {
    padding: 24px 10px 22px;
  }
}
.desktop-navbar ul ul a {
  padding-top: 5px;
  padding-bottom: 5px;
}
.desktop-navbar ul ul ul {
  text-transform: none;
}
.desktop-navbar li:hover > ul {
  display: block;
  position: absolute;
}
.desktop-navbar li:hover li {
  float: none;
}
.desktop-navbar ul ul ul {
  left: 100%;
  top: 0;
}
.desktop-navbar ul:before,
.desktop-navbar ul:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.desktop-navbar ul:after {
  clear: both;
}
/* Core style */
.marka {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}
.marka i {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #000000;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}
.marka.marka-set i {
  opacity: 1;
}
.marka.marka-rotate-right {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.marka.marka-rotate-left {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.marka.marka-rotate-down {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.marka.marka-icon-empty {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
/* Times icon */
.marka.marka-icon-times i {
  -webkit-transform: rotate(45deg) scale(0.8, 0.2);
  -moz-transform: rotate(45deg) scale(0.8, 0.2);
  -ms-transform: rotate(45deg) scale(0.8, 0.2);
  -o-transform: rotate(45deg) scale(0.8, 0.2);
  transform: rotate(45deg) scale(0.8, 0.2);
}
.marka.marka-icon-times i:nth-child(2) {
  -webkit-transform: rotate(-45deg) scale(0.8, 0.2);
  -moz-transform: rotate(-45deg) scale(0.8, 0.2);
  -ms-transform: rotate(-45deg) scale(0.8, 0.2);
  -o-transform: rotate(-45deg) scale(0.8, 0.2);
  transform: rotate(-45deg) scale(0.8, 0.2);
}
/* Bars icon */
.marka.marka-icon-bars i {
  -webkit-transform: scale(0.8, 0.2);
  -moz-transform: scale(0.8, 0.2);
  -ms-transform: scale(0.8, 0.2);
  -o-transform: scale(0.8, 0.2);
  transform: scale(0.8, 0.2);
}
.marka.marka-icon-bars i:nth-child(2) {
  -webkit-transform: scale(0.8, 0.2) translate(0%, -140%);
  -moz-transform: scale(0.8, 0.2) translate(0%, -140%);
  -ms-transform: scale(0.8, 0.2) translate(0%, -140%);
  -o-transform: scale(0.8, 0.2) translate(0%, -140%);
  transform: scale(0.8, 0.2) translate(0%, -140%);
}
.marka.marka-icon-bars i:nth-child(3) {
  -webkit-transform: scale(0.8, 0.2) translate(0%, 140%);
  -moz-transform: scale(0.8, 0.2) translate(0%, 140%);
  -ms-transform: scale(0.8, 0.2) translate(0%, 140%);
  -o-transform: scale(0.8, 0.2) translate(0%, 140%);
  transform: scale(0.8, 0.2) translate(0%, 140%);
}
body {
  font-family: 'Lato', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
h1,
h2,
h3 {
  color: #d94226;
}
h3,
h4 {
  font-size: 30px;
}
h5 {
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}
img {
  max-width: 100% !important;
  height: auto !important;
}
body {
  color: #7d7d7d;
  font-size: 16px;
}
a {
  color: #d94226;
}
a:hover,
a:focus,
a:active {
  color: inherit;
  opacity: 0.7;
  text-decoration: none;
}
ul.social-icons-list {
  padding: 0;
  margin: 0 auto;
  list-style: none;
}
ul.social-icons-list li {
  display: inline-block;
}
ul.social-icons-list li a {
  border: 3px solid #d94226;
  border-radius: 999px;
  font-size: 25px;
  display: block;
  padding: 3px 5px;
  width: 45px;
  height: 45px;
  text-align: center;
  margin: 5px;
}
ul.social-icons-list li a:hover {
  color: #d94226;
}
input[type='text'],
input[type='tel'],
input[type='email'],
textarea {
  width: 100%;
  border-style: solid;
  border-color: #dcdcdc;
  border-width: 1px;
  padding: 10px 15px;
}
textarea {
  height: 98px;
}
select {
  background: #fff;
  width: 100%;
  padding: 13px 15px 14px;
  border-style: solid;
  border-color: #dcdcdc;
  border-width: 1px;
  line-height: 1;
  border-radius: 0;
  -webkit-appearance: none;
}
.meta .share-links a {
  background: #d94226;
  color: #fff;
  border-radius: 999px;
  font-size: 14px;
  display: inline-block;
  padding: 3px 5px;
  width: 25px;
  height: 25px;
  text-align: center;
  margin: 0px;
}
li {
  margin-bottom: 8px;
}
.paginate {
  margin: 40px 0;
}
.home-button-wrapper {
  margin-top: 40px;
}
.home-button-wrapper .home-button {
  background-image: url(../img/diamond-fireplace-logo.png);
  height: 103px;
  width: 277px;
  background-size: contain;
  display: block;
  text-indent: -9999px;
}
.call-to-action {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.call-to-action .cta-wrapper .cta-inner {
  margin-top: 40px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.4);
  float: right;
  padding: 10px 0;
}
.call-to-action .cta-wrapper .cta-inner > div {
  float: left;
  text-align: center;
}
.call-to-action .cta-wrapper .cta-inner > div p {
  margin: 0;
}
.call-to-action .cta-wrapper .cta-inner .left {
  width: 180px;
}
.call-to-action .cta-wrapper .cta-inner .middle {
  width: 50px;
  height: 10px;
  position: relative;
}
.call-to-action .cta-wrapper .cta-inner .middle .icon-wrapper {
  position: absolute;
  width: 70px;
  height: 70px;
  top: -20px;
  left: -10px;
  background: #d94226;
  border: 6px solid #fff;
  border-radius: 999px;
  color: #fff;
  -webkit-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.4);
  font-size: 30px;
  padding-top: 8px;
}
.call-to-action .cta-wrapper .cta-inner .middle .icon-wrapper a {
  color: #fff;
}
.call-to-action .cta-wrapper .cta-inner .right {
  width: 180px;
}
.call-to-action .cta-wrapper .cta-inner .right p {
  margin-top: 8px;
}
.desktop-navbar {
  margin-right: -9px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  float: right;
  padding: 40px 0 10px;
  /*
  ul.menu > li.current-menu-item,
  ul.menu > li.current-menu-ancestor {
    > a {
      color: @main-color;
    }
    > a:after {
       content: " ";
       width: 0;
       height: 0;
       border-style: solid;
       border-width: 0 4px 6px 4px;
       border-color: transparent transparent @main-color transparent;
       position: absolute;
       bottom: 0;
       left: 50%;
       margin-left: -4px;
     }
  }
  */
}
.desktop-navbar ul li a {
  padding: 10px 9px;
  color: #7d7d7d;
  font-size: 14px;
}
.desktop-navbar ul ul {
  background: #fff;
  -webkit-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.4);
  margin: 0 -10px;
  padding: 0 10px;
}
.desktop-navbar ul ul a:hover,
.desktop-navbar ul ul li.current-menu-item a {
  color: #d94226;
}
.desktop-navbar ul.menu > li.current-menu-item > a,
.desktop-navbar ul.menu > li.current-menu-ancestor > a,
body.product-section ul.menu > li#menu-item-98 > a,
body.single-post ul.menu > li#menu-item-61 > a {
  color: #d94226;
}
.desktop-navbar ul.menu > li.current-menu-item > a:after,
.desktop-navbar ul.menu > li.current-menu-ancestor > a:after,
body.product-section ul.menu > li#menu-item-98 > a:after,
body.single-post ul.menu > li#menu-item-61 > a:after {
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 4px 6px 4px;
  border-color: transparent transparent #d94226 transparent;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -4px;
}
.strata.mobile-spacer {
  height: 60px;
}
.strata.mobile-navbar {
  -webkit-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.4);
  padding-top: 10px;
}
.strata.mobile-navbar .home-button-wrapper {
  margin-top: 0;
  float: right;
}
.strata.mobile-navbar .home-button-wrapper .home-button {
  height: 40px;
  width: 109px;
}
.content {
  padding-top: 40px;
  padding-bottom: 40px;
}
.strata.section-title {
  background: #d94226;
  padding: 20px 15px;
  text-align: center;
}
.strata.section-title h1,
.strata.section-title h2,
.strata.section-title h3 {
  color: #fff;
  margin: 0;
  font-size: 36px;
}
.strata.promotion {
  background: #f5f5f5;
  /*
  .promotion-panel {
    margin: @space 0;
    .image {
      width: 30%;
      float: left;
    }
    .promotion-panel-content {
      width: 70%;
      float: right;
      padding-left: 10px;
      >*:first-child { margin-top: 0; }
    }
  }
  */
}
.strata.promotion a {
  text-decoration: underline;
}
.strata.promotion img.promotion-main-image {
  max-width: 100%;
  min-width: 100%;
  height: auto;
}
.strata.promotion .promotion-panel {
  border: 1px solid #dcdcdc;
  padding: 15px;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.4);
  margin: 40px 0;
}
.strata.social-media {
  background: #f5f5f5;
  padding: 30px 15px 40px;
  color: #7d7d7d;
  text-align: center;
}
.strata.crumb {
  margin-bottom: 40px;
  padding: 40px 15px;
  background: #d94226;
  color: #fff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.strata.crumb ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.strata.crumb ul li:last-child {
  font-size: 30px;
}
.strata.crumb a {
  color: #fff;
}
.gallery .gallery-item {
  margin: 40px 0;
}
.gallery .gallery-item a {
  transition: transform .4s;
  display: block;
  -webkit-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.4);
}
.gallery .gallery-item a .image {
  border: 10px solid #fff;
}
.gallery .gallery-item a p {
  margin-bottom: 0;
  background: #f5f5f5;
  color: #7d7d7d;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  height: 50px;
  line-height: 1.1em;
  letter-spacing: -0.05em;
  overflow: hidden;
  font-size: 14px;
  transition: background .4s, color .4s;
}
.featured-image .featured-image-overlay {
  text-align: center;
}
.aside img {
  margin: auto;
}
.aside p {
  margin: 80px 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}
.aside p a {
  color: #7d7d7d;
}
.aside p a i {
  font-size: 40px;
  color: #d94226;
  padding-bottom: 10px;
}
.aside p:first-child {
  margin-top: 0;
}
.strata.term-description {
  margin: 40px 0;
  text-align: center;
}
.gallery.product-list {
  margin-top: -40px;
}
.sidebar {
  text-align: center;
}
.sidebar .tax-name {
  font-size: 16px;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background: #d94226;
  color: #fff;
  margin-bottom: 0;
}
.sidebar ul.tax {
  background: #f5f5f5;
  list-style: none;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
}
.sidebar ul.tax li {
  margin: 5px 0;
}
.sidebar ul.tax li a {
  color: #000;
}
.sidebar ul.tax li.current a {
  color: #d94226;
}
.content-product {
  margin-bottom: 40px;
}
body.page-template-template-company .content {
  background: #f5f5f5;
}
body.page-template-template-company .content.white-strap-row {
  background: #fff;
  border-bottom: 1px solid #dcdcdc;
  border-top: 1px solid #dcdcdc;
}
body.page-template-template-company .team-member {
  text-align: center;
  margin: 0 0 40px 0;
}
body.page-template-template-company .team-member .image {
  max-width: 145px;
  margin: auto;
}
body.page-template-template-company .team-member h5 {
  color: #d94226;
  margin-bottom: 0;
}
body.page-template-template-company .team-member p {
  text-transform: uppercase;
}
body.page-template-template-home .content {
  text-align: center;
}
body.page-template-template-home .content.services-image {
  padding: 0;
}
body.page-template-template-home .services-content-top,
body.page-template-template-home .services-image,
body.page-template-template-home .services-content-bottom {
  background: #f5f5f5;
}
body.page-template-template-gallery .strata.gallery {
  background: #000;
}
body.page-template-template-gallery .strata.gallery .gallery-item {
  position: relative;
  z-index: 0;
  margin: 0 -15px;
}
body.page-template-template-gallery .strata.gallery .gallery-item a {
  transition: transform: .4s;
}
body.page-template-template-gallery .strata.gallery .gallery-item .image {
  transition: border .4s;
  border: 2px solid black;
}
body.page-template-template-gallery .strata.gallery .gallery-item:hover {
  z-index: 1;
}
body.page-template-template-gallery .strata.gallery .gallery-item:hover a {
  -webkit-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.4);
}
body.page-template-template-gallery .strata.gallery .gallery-item:hover .image {
  border: 2px solid #d94226;
}
.contentlisting {
  margin: 40px 0;
}
.contentlisting p.date,
.contentlisting p.readmore {
  font-weight: 600;
  font-style: italic;
}
.contentlisting img.wp-post-image {
  margin: 0 auto 20px auto;
  display: block;
}
.single-post.content p.date {
  font-weight: 600;
  font-style: italic;
}
.single-post.content .meta .share-links {
  margin-bottom: 40px;
}
.single-post.content .meta .share-links br {
  display: none;
}
.single-post.content .wp-post-image {
  margin-bottom: 20px;
}
.strata.contact .contact-map {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.strata.footer-content-top {
  text-align: center;
  background: #f5f5f5;
  padding: 40px 0;
  border-bottom: 1px solid #dcdcdc;
}
.strata.footer-content-left-right {
  margin: 20px 0;
}
.strata.footer-content-left-right .footer-content-left,
.strata.footer-content-left-right .footer-content-right {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.strata.contact {
  background: #f5f5f5;
  border-top: 1px solid #dcdcdc;
}
.strata.contact .contact-content {
  padding: 40px 0;
}
.strata.strata-footer {
  text-align: center;
  margin-top: 40px;
}
@media (min-width: 768px) {
  .contentlisting .post-excerpt h3:first-child {
    margin-top: 0;
  }
  .promotion-4-panels-wrapper {
    max-width: 500px;
    margin: 0 auto;
  }
  body.page-template-template-home .featured-image {
    position: relative;
  }
  body.page-template-template-home .featured-image .featured-image-overlay {
    text-shadow: 0px 0px 18px #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    color: #fff;
    padding-top: 27%;
  }
  body.page-template-template-home .featured-image .featured-image-overlay h3 {
    font-size: 40px;
  }
  body.page-template-template-home .featured-image .featured-image-overlay p {
    font-size: 20px;
  }
  body.page-template-template-home .featured-image .featured-image-overlay a,
  body.page-template-template-home .featured-image .featured-image-overlay h3,
  body.page-template-template-home .featured-image .featured-image-overlay h3 a {
    color: #fff;
  }
  body.page-template-template-home .featured-image .featured-image-overlay .social-icons-list li a {
    border-color: #fff;
    -webkit-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.4);
  }
}
@media (min-width: 992px) {
  .strata.promotion .promotion-4-panels-wrapper {
    max-width: none;
  }
  .strata.promotion .promotion-4-panels-wrapper .promotion-panel {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .strata.promotion .promotion-panel {
    padding: 0;
    border: none;
    margin: 0 -15px;
    color: #fff;
  }
  .strata.promotion .promotion-panel a,
  .strata.promotion .promotion-panel h3 {
    color: #fff;
  }
  .strata.promotion .promotion-panel .image {
    width: 100%;
  }
  .strata.promotion .promotion-panel .promotion-panel-content {
    transition: opacity .4s, transform .4s;
    transform: scale(0.5);
    opacity: 0;
    width: 100%;
    text-align: center;
    padding: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(217, 66, 38, 0.9);
  }
  .strata.promotion .promotion-panel:hover .promotion-panel-content {
    transform: scale(1);
    opacity: 1;
  }
  .strata.crumb ul li {
    display: inline-block;
  }
  .strata.crumb ul li:after {
    content: " | ";
    display: inline-block;
    margin: 0 10px;
  }
  .strata.crumb ul li:last-child:after {
    content: none;
  }
  .gallery .gallery-item a:hover {
    transform: scale(1.1);
    opacity: 1;
  }
  .gallery .gallery-item a:hover p {
    background: #d94226;
    color: #fff;
  }
  .product-category-gallery .gallery .gallery-item {
    margin: 0 -15px;
  }
  .product-category-gallery .gallery .gallery-item a {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .product-category-gallery .gallery .gallery-item a .image {
    border: none;
  }
  .product-category-gallery .gallery .gallery-item a:hover {
    transform: none;
    opacity: 1;
  }
  .product-category-gallery .gallery .gallery-item a:hover p {
    background: #d94226;
    color: #fff;
  }
  .product-category-gallery .gallery .gallery-item p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-weight: 400;
    letter-spacing: 0;
  }
  .product-category-gallery .gallery .gallery-item a:after {
    transition: padding .4s, top .4s, opacity .4s;
    content: "See More";
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    top: calc(50%);
    opacity: 0;
    bottom: 50px;
    background-color: rgba(217, 66, 38, 0.7);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    line-height: 1.2em;
    overflow: hidden;
    text-shadow: 0px 0px 11px #000000;
  }
  .product-category-gallery .gallery .gallery-item a:hover:after {
    top: 0;
    padding-top: 50px;
    opacity: 1;
  }
  .gallery.product-list .gallery-item a {
    position: relative;
  }
  .gallery.product-list .gallery-item a:after {
    transition: padding .4s, top .4s;
    content: "Click For Details";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    top: 270px;
    background-color: rgba(217, 66, 38, 0.9);
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    line-height: 1.2em;
    overflow: hidden;
    text-shadow: 0px 0px 11px #000000;
  }
  .gallery.product-list .gallery-item a:hover:after {
    top: 0;
    padding: 90px 15px;
  }
  body.page-template-template-home .featured-image .featured-image-overlay {
    padding-top: 27%;
  }
  body.page-template-template-home .featured-image .featured-image-overlay h3 {
    font-size: 60px;
  }
  body.page-template-template-home .featured-image .featured-image-overlay p {
    font-size: 25px;
  }
  body.page-template-template-home .featured-image .featured-image-overlay .social-icons-list li a {
    margin: 10px;
  }
  .single-post.content {
    margin: 40px 0;
  }
  .single-post.content h3.title {
    margin-top: 0;
  }
  .strata.footer-content-left-right .footer-content-left {
    margin-top: 70px;
    margin-right: -15px;
    padding-right: 15px;
    border-right: 1px solid #dcdcdc;
  }
}
@media (min-width: 1200px) {
  .page-container {
    background: #000;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d94226+0,000000+50 */
    background: #d94226;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q5NDIyNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, #d94226 0%, #000000 1000px);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d94226), color-stop(1000px, #000000));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d94226 0%, #000000 1000px);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d94226 0%, #000000 1000px);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d94226 0%, #000000 1000px);
    /* IE10+ */
    background: linear-gradient(to bottom, #d94226 0%, #000000 1000px);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d94226', endColorstr='#000000', GradientType=0);
    /* IE6-8 */
    background-attachment: fixed;
  }
  .page-container .page-inner {
    -webkit-box-shadow: 0px 0px 200px 50px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 200px 50px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 200px 50px rgba(0, 0, 0, 0.75);
    max-width: 1440px;
    background: #fff;
    margin: 0 auto;
  }
  body.page-template-template-home .featured-image .featured-image-overlay {
    padding-top: 27%;
  }
  body.page-template-template-home .featured-image .featured-image-overlay h3 {
    font-size: 80px;
  }
  body.page-template-template-home .featured-image .featured-image-overlay p {
    font-size: 35px;
  }
  body.page-template-template-home .featured-image .featured-image-overlay .social-icons-list li a {
    margin: 10px;
  }
}
/* worky? */
